:root {
    --error: #ffd7d770;
    --succes: #00cc5c;
    --maincolor: #ff5160;
    --backgroud: #FAFCFD;
    --black: #7f7f7f;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: var(--backgroud);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.contaciner {
    font-family: 'Roboto', sans-serif;
    width: 80vw;
    height: 620px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #d0d0d099;
}

.header h5 {
    font-weight: 200;
    font-size: 24px;
}

.header span {
    font-size: 16px;
    margin-top: 11px;
    color: var(--black);
}

.header i {
    margin-top: -51px;
    margin-bottom: 26px;
    width: fit-content;
    padding: 9px 14px;
    border-radius: 4px;
    box-shadow: 2px 4px 4px 0px #d6d6d6c9;
    font-size: 32px;
    color: white;
    background-color: var(--maincolor);
}

.image_left {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input_box {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid var(--black);
    border-radius: 4px;
    color: var(--black);
    padding: 10px;
    margin-bottom: 20px;
    transition: .3s;
}
.input_box i {
    cursor : pointer;
}

.input_box:hover {
    border: 1px solid var(--maincolor);
}

.input_box:hover span {
    top: -10px;
    opacity: 1;
}

.input_box input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 18px;
}

.input_box span {
    position: absolute;
    transition: .2s;
    top: 0;
    opacity: 0;
    border: none;
    font-size: 12px;
    color: var(--maincolor);
    background-color: white;
    padding: 0 6px;
}

.error {
    background-color: white;
    padding: 5px !important;
    color: red !important;
    border: 1px solid RED !important;
    padding: 0 6px !important;
    top: -10px !important;
    opacity: 1 !important;
}
.suseccspan {
    background-color: white;
    padding: 5px !important;
    color: var(--succes) !important;
    border: 1px solid var(--succes) !important;
    padding: 0 6px !important;
    top: -10px !important;
    opacity: 1 !important;
}
.succes{
    border:1px solid var(--succes) !important;
}
.error_input_box {
    border: 1px solid RED !important;
    background-color: var(--error);
}

.ceckbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ceckbox p {
    margin: 0 !important;
}

.ceckbox input {
    margin-right: 5px;
}

.ceckbox span {
    text-decoration: underline;
    color: var(--maincolor);
}

.input_box input:focus {
    caret-color: var(--maincolor);
    outline: none;
    color: var(--black);
}

.submit {
    padding: 20px;
    width: 100%;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 4px 4px 0px #d6d6d6c9;
    background-color: var(--maincolor);
    font-size: 23px;
    border: none;
    margin: 28px 0px;
}

.submit:focus {
    outline: none;
}

@media screen and (max-width: 1022px) {
    .contaciner {
        font-family: 'Roboto', sans-serif;
        width: 93vw;
    }
}

@media screen and (max-width: 824px) {
    .leftside {
        display: none;
    }
    .rghtside {
        width: 100% !important;
        min-width: 100% !important;
    }
}
@media screen and (max-width: 620px) {
  .header i {
      margin-top: 0px;
  }
  .submit {
    padding: 8px;

    margin: 20px 0px;
}
.contaciner {
    height: 90vh;
     overflow: scroll;
}
    .contaciner::-webkit-scrollbar {
  display: none;
}
}
